.publication-grid {
    column-count: 4;
    column-gap: 16px;
    padding: 20px;
}

@media (max-width: 1200px) {
    .publication-grid {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    .publication-grid {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .publication-grid {
        column-count: 1;
    }
}

.publication-card {
    margin-bottom: 16px;
}

.loading-text {
    text-align: center;
    margin: 16px;
    font-weight: bold;
    color: #666;
}

.publication-filter-buttons {
    display: flex;
    justify-content: left;
    gap: 11px;
    margin-left: 16px;
    color: #5E5E5E;
}

.publication-filter-buttons button {
    all: unset;
    padding: 8px 14px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.publication-filter-buttons .active-filter {
    color: black;
    border: none;
}
